
.return:hover{
    -fx-background-color: #000000;
    -fx-border-color: #fc7791;
    -fx-border-width: 0px 0px 3px 0px;

}

.return{
    -fx-border-radius: 40px;
    -fx-border-width:  2px 2px 2px 2px;
    -fx-border-color:  #fc7791;
    -fx-background-color:   #1D1B20;
    -fx-background-radius: 40px;
}


.save:hover{
    -fx-background-color: #000000;
    -fx-border-color: #fc7791;
    -fx-border-width: 0px 0px 3px 0px;

}

.save{
    -fx-border-radius: 40px;
    -fx-border-width:  2px 2px 2px 2px;
    -fx-border-color:  #fc7791;
    -fx-background-color:   #1D1B20;
    -fx-background-radius: 40px;
}